<<<<<<< HEAD
.account-info {
  background: $account-info__background no-repeat left top;
  background-size: 100% 100%;
  width: 23.4vw;
  height: 26.5vw;
  max-width: 125px;
  max-height: 115px;
  position: absolute;
  right: 0;
  margin-right: 0.3vw;
  top: 0;
  
  &.account-info--notification {
    width: 93px;
    height: 85px;
    background-image: url(../images/account-info__background--notification.svg);
    background-position: left top;
    background-size: 100% 100%;
    
    .account-info__wrapper {
      margin-top: 11px;
      margin-left: 27px;
    }
  }
  
  &.account-info--list {
    // to do
  }
  
  &.account-info--notification.account-info--list {
    // to do
  }
  
  &__wrapper {
    display: block;
    text-shadow: none;
    box-shadow: none;
    width: 48px;
    height: 48px;
    border-radius: 48px;
    margin-top: 11px;
    margin-left: 27px;
    
    &:hover {
      text-shadow: none;
      box-shadow: none;
    }
    
    img { 
      height: 100%;
      width: 100%;
      border-radius: 90px; 
    }
  }
  
  &__profile {
    position: absolute;
    right: 10px;
    top: 56px;
    height: 18px;
    width: 18px;
    
    a {
      text-shadow: none;
      box-shadow: none;
      display: block;
      height: 100%;
    }
  }
  
  .account-info__notifications {
    height: 21px;
    width: 21px;
    margin-top: -50px;
    margin-left: 7px;
    position: absolute;
    
      a {
        display: block;
      height: 21px;
      width: 21px;
      background: $pink;
      border-radius: 20px;
      text-shadow: none;
      box-shadow: none;
      color: #FFF;
      text-align: center;
      vertical-align: middle;
      font-size: 1.2rem;
      line-height: 20px;
      font-weight: 700;
    }
  }
}

@media (min-width: 768px) {
  .account-info {
    display: none;
  }
=======
.account-info {
  background: $account-info__background no-repeat left top;
  background-size: 100% 100%;
  width: 23.4vw;
  height: 26.5vw;
  max-width: 125px;
  max-height: 115px;
  position: absolute;
  right: 0;
  margin-right: 0.3vw;
  top: 0;
  
  &.account-info--notification {
    width: 93px;
    height: 85px;
    background-image: url(../images/account-info__background--notification.svg);
    background-position: left top;
    background-size: 100% 100%;
    
    .account-info__wrapper {
      margin-top: 11px;
      margin-left: 27px;
    }
  }
  
  &.account-info--list {
    // to do
  }
  
  &.account-info--notification.account-info--list {
    // to do
  }
  
  &__wrapper {
    display: block;
    text-shadow: none;
    box-shadow: none;
    width: 48px;
    height: 48px;
    border-radius: 48px;
    margin-top: 11px;
    margin-left: 27px;
    
    &:hover {
      text-shadow: none;
      box-shadow: none;
    }
    
    img { 
      height: 100%;
      width: 100%;
      border-radius: 90px; 
    }
  }
  
  &__profile {
    position: absolute;
    right: 10px;
    top: 56px;
    height: 18px;
    width: 18px;
    
    a {
      text-shadow: none;
      box-shadow: none;
      display: block;
      height: 100%;
    }
  }
  
  .account-info__notifications {
    height: 21px;
    width: 21px;
    margin-top: -50px;
    margin-left: 7px;
    position: absolute;
    
      a {
        display: block;
      height: 21px;
      width: 21px;
      background: $pink;
      border-radius: 20px;
      text-shadow: none;
      box-shadow: none;
      color: #FFF;
      text-align: center;
      vertical-align: middle;
      font-size: 1.2rem;
      line-height: 20px;
      font-weight: 700;
    }
  }
}

@media (min-width: 768px) {
  .account-info {
    display: none;
  }
>>>>>>> d8775734bd7c5fc91f87c18da270f277c10a52e0
}