@mixin button-bg($bg) {
  
  display: inline-block;
  background: $bg;
  box-shadow: 0 0 0 4px rgba($bg, 0.5) !important;
  text-shadow: none;
  
  &:hover {
    background:darken($bg,8%);
    transition: all 0.3s ease;
    
  }
  &:active {
    background:darken($bg,25%);
  }
}

.btn-list--right {
  text-align: right; 
  margin-right: 15px
}

a.btn, input.btn, button.btn {
   color: $gray-900;
   text-decoration:none;
   padding: 0.1rem 0rem;
   border-radius:300px;
   text-align: center;
   text-shadow: none !important;
   min-width: 10rem;
   font-weight: 800;
   line-height: 1.3;
   margin-right: 15px;

   &:last-child{
      margin-right: 0px;
   }

   &:hover {
      color: $white;
   }
}

.btn--green {
   @include button-bg($teal);
}

.btn--blue {
   @include button-bg($cyan);
}

.btn-list {
  margin-top: 3rem;
}