.new-item {
  
  position: fixed;
  right: 0px;
  bottom: 10px;
  width: 21vw;
  text-align: center;
  
  button.create-new {
    background: url(../images/new-item__button__background--sm.svg) no-repeat center center;
    background-size: 42px 42px;
    border: none;
    height: 45px;
    width: 45px;
    font-size: 2.2rem;
  } 
}

.pre-banner {
  width: 100%;
  max-width: 768px;
  
  background-image: url(../images/header-arch-only.svg);
  background-repeat: no-repeat;
  background-size: 100% 82px;
  
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  min-height: 82px;
}

.background--talk{
    background-image: url(../images/homepage-illustration.jpg);
    background-repeat: no-repeat;
    background-size: 768px 400px;
    background-position: center top;
    min-height: calc(20vh + 82px);
    background-color: #FFF;
   padding-top: 120px;
  text-align: center;
  }

.logo {
    width: 100%;
    max-width: 515px;
    height: auto;
    margin: auto;
  }

@media (min-width: 768px) {
  .general-header {
    position: fixed; 
    z-index: 5;
    right: auto;
    bottom: auto;
    left:0;
    top:0;
    width: 33%;
    background: $gray-800;
    float: left;
    height: 100vh;
    padding: 90px 15px 15px;
  } 
}

@media (min-width: 992px) {
  .general-header {
    position: fixed; 
    right: auto;
    bottom: auto;
    left: auto;
    top:auto;
    width: 25%;
    max-width: 300px;
    background: $gray-800;
    float: left;
    height: 100vh;
    padding: 90px 15px 15px;
  } 
}