$logo__font-weight: bold !default;
$logo__color: $gray-900 !default;
$logo-area__background-image: none !default;
$logo-area__background-image--sm: $logo-area__background-image !default;
$logo-area__background-image--md: $logo-area__background-image !default;
$logo-area__background-image--lg: $logo-area__background-image !default;

.logo-area {
  background-image: $logo-area__background-image--sm;
  background-repeat: no-repeat;
  background-size: 100vw 10vh;
  background-position: center top;
  height: 100px;
  width: 100vw;
}

img.logo {
  height: auto;
}

a.logo__link {
  text-decoration: none;
  text-shadow: none;
  box-shadow: none;
  padding: 15px;
  display: block;
  width: 70vw;
  max-width: 300px; 
  
  /*&:hover {
    text-decoration: none;
    text-shadow: none;
    box-shadow: none;
    background-color: rgba(#301647, 0.60);
    box-shadow: 0px 0px 22px 5px rgba(#301647, 0.75);
  }*/
}

.logo-title {
  font-weight: $logo__font-weight;
  color: $logo__color; 
  margin: 0;
  padding: 1.5vw;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .logo-area {
    position: fixed;
    z-index: 6;
    top:0;
    // background image defined in the navigation for z-index issue
    background-image: none;
    width: 33%;
    padding: 15px;
  }
  
  a.logo__link {
    padding: 0px;
    display: inline;
    width: auto;
    max-width: auto;
  }
  
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .logo-area {
    width: 25%;
    max-width: 300px;
    padding: 15px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

} 