<<<<<<< HEAD
.icon.icon--cog {
  background: url(../images/settings-icon.svg) no-repeat;
  background-size: cover;
  display: block;
  height: 100%;
  width: 100%;
=======
.icon.icon--cog {
  background: url(../images/settings-icon.svg) no-repeat;
  background-size: cover;
  display: block;
  height: 100%;
  width: 100%;
>>>>>>> d8775734bd7c5fc91f87c18da270f277c10a52e0
}