#skip-link, .skip-link {
    position: fixed;
    top: 1.5em;
    left: 1.5em;
    z-index: 1060;
  background: $white;
  pading: 15px;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    overflow: hidden;
    height: 1px;
}

.focusable:active, .focusable:focus {
    position: static !important;
    clip: auto;
    overflow: visible;
    height: auto;
}

.responsive {
  max-width: 100%;
  height: auto;
}

.no-display--sm,.no-display--md,.no-display--lg {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
} 

/*.clearfix {
  overflow: auto;
}*/

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.sideinfo {
  font-size: 0.7em;
  opacity: 0.8;
}

@media (min-width: 768px) {
  .no-display--sm {
    position: inherit !important;
    top: auto !important;
    left: auto !important;
  }
  
  .no-display--md {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
  }
}